@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-family: "Roboto", sans-serif;
}

.header {
    height: 15em;
    background-size: cover;    
}
.headerInfor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 0 120px;
}
.d-foto {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.foto {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 16px; 
}
.headerInfor h3{
    width: 600px;
    font-family: "Sora", sans-serif;
    line-height: 36px;
    font-size: 20px;
    color: #502B6B;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color:#000;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #7290cd;
}

/* --------------------------------- */
.perfilPrincipal{
    display: flex;
}
/* --------------------------------- */

.menuLateral{
    width:25% ;
    height: 98%;
    margin-left: 160px;
}

.perfil {
    display: flex;
    flex-direction: column;
}
.perfil div{
    width: 380px;
    padding: 24px 0;
    border-bottom: 1px  solid #c2a9d4;
}
.perfil div:hover{
    border: 3px solid #502B6B;
}
.perfil1{
    display: flex;
}
.perfil a{
    font-size: 24px;
    margin-left: 50px;
    text-decoration: none;
    color: #616161;
}
.perfil1 img{
    width:40px ;
    height: 40px;
    padding: 15px;
    background-color: #c2a9d4;
    border-radius: 12px;
}

/* -----------------assim que passa o mouse muda de cor tudo o menu------------------ */
.perfil1:hover img {
    background-color: #956ab4;
}
.perfil2:hover img {
    background-color: #956ab4;
}

/* ------------------------------------------------------------------------------- */
.perfil2{
    display: flex;
}
.perfil2 img{
    width:40px;
    height: 40px;
    padding: 15px;
    background-color: #c2a9d4;
    border-radius: 12px;
}
.perfil1 a{
    margin: 20px 0px 0px 20px;
    font-size: 24px;
}
.perfil2 a{
    margin: 20px 0px 0px 20px;
    font-size: 24px;
}
/* --------------------------- */

.quadradoPerfil{
    width: 670px; 
    height: auto;
    margin: 0px 0 0 235px;
    box-shadow: 0px 7px 30px 0px #BBC0CD66;
    border-radius: 48px;
    padding: 56px ;
}
/* --------------------------- */
.titulo{
    width: 183px;
    height: 34px;
    margin: 22px 0px 22px 24px;
    font-size: 24px;
}
.produtos{
    display: flex;
    flex-wrap: wrap;
}

.produtoinfor{
    width:270px;
    height: 350px;
    margin: 0px 26px 22px 24px;
}
.data{
    width: 133px;
    height: 24px;
    font-size: 16px;
    font-family: "Sora", sans-serif;
    color: #c2a9d4;
    margin: 12px;
}

.produtoinfor img{
    width: 165px;
    height: 160px;
    border: none;
    box-shadow: 1px 0px 1px 1px rgb(193, 193, 193);
    border-radius: 16px;
    padding: 0px 51px;
}
.detalheProduto{
    width: 240px;
    height: 74px;
    margin: 40px 16px;
}
.detalheProduto h3{
    font-size: 16px;
    width: 230px;
    height: 36px;
    color: #212121;
}
.quantidadeJoias{
    width: 41px;
    height: 17px;
    font-size: 12px;
    color: #9E9E9E;
}

/* --------------------------- */
