@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-family: "Roboto", sans-serif;
    }

.header {

    height: 15em;
    background-size: cover;    
}
.headerInfor{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 50px;
    margin: 0 150px;
}
.d-foto {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 7px 30px 0px #BBC0CD66;
    margin-right: 20px; 
}
.headerInfor h3{
    color: #502B6B;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: #502B6B;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #7290cd;
}

/* --------------------------------- */
.perfilPrincipal{
    display: flex;
}
/* --------------------------------- */

.menuLateral{
    width:25% ;
    height: 100%;
    margin-left: 160px;
}

.perfil {
    display: flex;
    flex-direction: column;
}
.perfil div{
    margin-bottom: 35px;
    padding: 15px;
}
.perfil div:hover{
    border: 4px solid #502B6B;
}
.perfil1{
    display: flex;
}
.perfil a{
    font-size: 24px;
    margin-left: 50px;
}
.perfil1 img{
    width:10% ;
    height: 10%;
    padding: 5px;
    background-color: #c2a9d4;
    border-radius: 12px;
}
/* -----------------assim que passa o mouse muda de cor tudo o menu------------------ */
.perfil1:hover img {
    background-color: #956ab4;
}
.perfil2:hover img {
    background-color: #956ab4;
}
/* ------------------------------------------------------------------------------- */


.perfil2{
    display: flex;
}
.perfil2 img{
    width:10%;
    height: 10%;
    padding: 5px;
    background-color: #c2a9d4;
    border-radius: 12px;
}
.perfil1 a{
    margin: 10px 15px;
    font-size: 24px;
    margin-left: 30px;
}
.perfil2 a{
    margin: 10px 15px;
    font-size: 24px;
    margin-left: 30px;
}
/* --------------------------- */

.quadradoPerfil{
    width: 38%;
    height: 80vh;
    margin: auto;
    box-shadow: 0px 7px 30px 0px #BBC0CD66;
    border-radius: 15px;
    padding: 20px;
}
/* --------------------------- */


.tiposJoias h1{
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    margin: 15px;
}
.joia {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    margin: 30px 0;
}
.joia3 {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    margin: 60px 0;
}
.joiaimagem{
    width:13% ;
    height: 60%;
    border-radius: 12px;
    border: 1px solid  #c2a9d4;
}
.joiaimagem2 {
    width:13% ;
    height: 60%;
    border-radius: 12px;
    border: 1px solid  #c2a9d4;
}
.joiaimagem3{
    width:13% ;
    height: 60%;
    border-radius: 12px;
    border: 1px solid  #c2a9d4;
}
.joiaimagem img{
    width: 90px;
    padding: 8px 0;
    margin: 0px 15px;
} 
.joiaimagem2 img{
    width: 120px;
    padding: 10px 0px;
    margin: 0 -15px;
} 
.joiaimagem3 img{
    width: 120px;
    padding: 7px 0;
    margin: 2px -15px;
} 

.classifJoia{
    padding: 0 20px;
}
.classifJoia p{
    margin: 10px 0;
    color: #c2a9d4;
}
.classifJoia .textJoia{
    color: #7a7878;
    line-height: 24px;
    font-weight: 400px;
    width:  80%;
}
/* --------------------------- */


