@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-family: "Roboto", sans-serif;
    }

.header {

    height: 15em;
    background-size: cover;    
}
.headerInfor{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 50px;
    margin: 0 150px;
}
.d-foto {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #EEEEEE;
    margin-right: 20px; 
}
.headerInfor h3{
    color: #502B6B;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #7290cd;
}

/* ----------------------------------------------------------- */

.inforProdutos{
    margin: 0 100px;
    display: flex;
}

.imagemProduto img{
    width:450px ;
    height:400px ;
}

.descricaoProduto{
    flex-direction: column;
    margin: 0 30px;
    padding: 0 50px;
}
.descricaoProduto h2{
    font-weight: bold;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 38px;


}
.descricaoProduto .qntDiamantes{
    margin-bottom: 25px;
    padding: 15px 0; 
    color: #502B6B;
}
.descricaoProduto .qntDiamantes img{
    margin-left: 5px; 
}
.descricaoProduto .descricaoProdutoexato{
    margin-left: 5px; 
    padding: 5px 0;
    color: #616161;
    font-weight: 400px;
    word-spacing: 5px;
    font-size: 18px;
    width:  750px;
    border: none;
    font-family: 'Sora', sans-serif;
}

.resgatarProduto {
    background: #502B6B;
    color: #fff;
    margin-top: 25px;
    width: 300px;
    height: 80px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
}
