*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../imagens/tela\ de\ fundo.png');
    background-size: cover;
}

.aberturaLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 175px auto;
}
img{
    width: 530.3px;
    height: 181px;
}
.botaoAbertura{
    background: #bf90e0;
    width:382px ;
    height: 72px;
    margin: 50px;
    border-radius:16px;
    border: none;
    font-size: 20px;
}
.botaoAbertura:hover{
    background-color: #d1bede;
}
.botaoAbertura a{
    text-decoration: none;
}

/* ------------Abertura Fim----------------------- */
/* ------------login inicio----------------------- */

.loginPrincipal{
    display: flex;
}
.aberturaLogo2{
    margin: 300px auto 0 280px;
    /* aqui */
}
.entradaDeLogin{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    margin: 0 0 0 20em;
    border-radius: 32px 0 0 32px;
}
.conteudoDeLogin{
    margin:160px 0 0 60px;
    align-items: center;
}
.sejaBemVindo{
    padding: 30px;
    margin: 100px 0 0 0px;
    text-align: center;
}
.sejaBemVindo h3{
    color:#576aa3;
    font-size: 25px;
}
.sejaBemVindo h1{
    font-size: 42px;
    color: #502B6B;
}
.loginEntrada{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inputGroup {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    display: flex;
    margin-left: 90px;
}
input{
    width: 350px;
    height: 62px;
    border-radius: 12px;
    border: none;
    box-shadow:0px 0px 0px 0px;
    outline: none;
    background-color: rgba(173, 199, 247, 0.4);
}
input:hover{
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}
.botaoLogin{
    background: #37137688;
    width:300px;
    height: 52px;
    margin: 30px;
    border-radius:16px;
    border: none;
    font-size: 18px;
    color: #fff;
}
.botaoLogin:hover{
    background-color: #d1bede;
}

.escondido {
    display: none;
}

/* ------------login FIm----------------------- */
