@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../imagens/tela\ de\ fundo.png');
    background-size: cover;
}

.aberturaLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 259px  259px 0px  259px;
}

img{
    width: 530.3px;
    height: 181px;
}
.botaoAbertura{
    background: #bf90e0;
    width:382px ;
    height: 72px;
    margin: 50px 74px 74px 50px;
    border-radius:16px;
    border: none;
    font-size: 20px;
    font-family: "Sora", sans-serif;
    padding: 12px, 64px, 12px, 64px;
}

.botaoAbertura:hover{
    background-color: #d1bede;
}
.botaoAbertura a{
    text-decoration: none;
}

/* ------------Abertura Fim----------------------- */
/* ------------login inicio----------------------- */

.loginPrincipal{
    display: flex;
}

.logo{
    width: 600px;
    height: 150px;
    margin: 340px 0 0  141px;
}
.entradaDeLogin{
    background-color: #fff;
    width: 700px;
    height: 750px;
    margin: 0 0 0 400px;
    border-radius: 32px 0 0 32px;
}
.conteudoDeLogin{
    margin:160px 0 0 60px;
    /* align-items: center; */
}
.sejaBemVindo{
    padding: 30px;
    margin-left: 60px;
    /* text-align: center; */
}
.sejaBemVindo h3{
    color: #3E4C76;
    font-family: "Sora", sans-serif;
    font-size: 18px;
    width: 160px;
    height: 27px;
}
.sejaBemVindo h1{
    font-size: 32px;
    font-family: "Sora", sans-serif;
    width: 250px;
    height: 45px;
    line-height: 44px;
    color: #502B6B;
}
.loginEntrada{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inputGroup {
    margin-bottom: 20px;
}

label {
    display: flex;
    margin-left: 100px;
    color: #9e9e9e;
}
input{
    width: 350px;
    height: 72px;
    border-radius: 16px;
    border: none;
    box-shadow:0px 0px 0px 0px;
    outline: none;
    background-color: rgba(173, 199, 247, 0.4);
    padding: 0 10px;
}
input:hover{
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}
.botaoLogin{
    background: #502b6b;
    width:370px;
    height: 72px;
    margin: 15px;
    border-radius:16px;
    border: none;
    font-size: 18px;
    color: #fff;
}
.botaoLogin:hover{
    background-color: #d1bede;
}
.escondido {
    display: none;
}

/* ------------login FIm----------------------- */
